body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid #000;
}

/* article {
  margin-bottom: 2rem;
} */

article p {
  max-width: 40ch;
  align-self:flex-start;
  padding: 1rem;
}

.tour-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

footer {
  flex-shrink: 0;
  background-color: #000;
  color: #fff;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: hsl(17, 81.9%, 50.2%);
  padding: 1rem;
  margin-top: 5rem;
}

main h2, h3 {
  padding: 1rem;
}

h6 {
  margin-bottom: 1rem;
  margin-top: 0;
}

div > img {
  display: block;
  margin:  0 auto 1rem auto;
}

nav a {
  padding: 1rem;
  
  color: #000;
}

nav ul {
  display: flex;
  margin: 0 1rem;
}

.desert-logo {
  height: 60px;
  width: 80px;
}

.site-title {
  margin: 0;
}

.title-logo-container {
  display: flex;
  padding: 1rem;
  
  align-items: center;
  justify-content: center;
}



.safari-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items:center;
  gap: 3rem 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.gallery-heading {
  margin: 4rem 0;
}

.fossil-image {
  width: 55px;
  height: 55px;
  display: block;
}

.fossil-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items:center;
  gap: 3rem 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.type-icon-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* overrides image styles */
.type-icon {
  width: 25px;
  margin: 0;
}

footer div {
  display: flex;
  padding: 1rem;
  align-items: center;
}

footer img, p {
  margin-top: 0;
  margin-bottom: 0;
}