/**** element selectors ****/

/* allows for sticky footer */
body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
}

/* more sticky footer code */
main {
  flex: 1 0 auto;
}

main h2, h3 {
  padding: 1rem;
}

/* heading styles */
h1 {
  margin-top: 5rem;
  padding: 1rem;

  color: hsl(17, 81.9%, 50.2%);
}

h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

article p {
  max-width: 40ch;
  padding: 1rem;
}

/* centers all images */
div > img {
  display: block;
  margin:  0 auto 1rem auto;
}

/* more sticky footer code, styling */
footer {
  flex-shrink: 0;

  background-color: #000;
  color: #fff;
}

/* container for copyright info and logo and gifs in footer */
footer div {
  display: flex;
  padding: 1rem;
  
  align-items: center;
}

footer img, p {
  margin-bottom: 0;
  margin-top: 0;
}

/**** class selectors ****/

.title-logo-container {
  display: flex;
  padding: 1rem;
  
  align-items: center;
  justify-content: center;
}

/* resizes svg logo */
.desert-logo {
  height: 60px;
  width: 80px;
}

/* font awesome sun icon */
.fa-sun {
  color: #ff5e5e;
}

/* font awesome moon icon */
.fa-moon {
  color: #0000a0;
}

/* container for both columns, each column is wrapped in a div making 2 flex items */
.tour-info {
  display: flex;
  padding: 1rem;

  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-heading {
  margin: 4rem 0;
}

.gallery-grid {
  display: grid;
  margin-bottom: 5rem;
  padding: 1rem;
  
  align-items:center;
  gap: 3rem 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.fossil-image {
  display: block;
  height: 55px;
  width: 55px;
}

/* container for showing pokemon types */
.type-icon-container {
  display: flex;
  
  justify-content: center;
  gap: 0.5rem;
}

/* overrides image styles on icons */
.type-icon {
  margin: 0;
  width: 25px;
}