@media screen and (width >= 50rem) {
  nav a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(11, 97%, 71%);
  }

  nav a:active {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
  }

  .active-page {
    background-color: hsl(0, 0%, 0%);
    color: hsl(11, 97%, 71%);
    
    text-decoration: underline;
  }
}

@media screen and (width < 50rem) {
  header {
    display: unset;
  }

  h6 {
    font-size: 12px;
  }
  
  nav a {
    color: #fff;
    padding: 1rem 4rem;
  }

  nav li {
    padding: 1rem;
  }

  nav ul {
    display: block;
    margin: 0;
    background-color: hsl(0, 0%, 0%);
  }

  nav a:active {
    color: hsl(11, 97%, 71%);
  }

  nav li:active {
    background-color: hsl(0, 0%, 30%);
  }

  .active-page {
    color: #fd876d;

    text-decoration: underline;
  }
}

@media screen and (width < 390px) {
  h2 {
    font-size: 23px;
  }

  nav li {
    font-size: 18px;
  }
}

