/* sets navigation styles on desktop */
@media screen and (width >= 50rem) {
  nav a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(11, 97%, 71%);
  }

  nav a:active {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
  }

  .active-page {
    background-color: hsl(0, 0%, 0%);
    color: hsl(11, 97%, 71%);
    
    text-decoration: underline;
  }
}

/* sets navigation styles/ adjusts footer text on mobile */
@media screen and (width < 50rem) {
  header {
    display: unset;
  }

  nav a {
    color: #fff;
    padding: 1rem 4rem;
  }

  nav li {
    padding: 1rem;
  }

  nav ul {
    display: block;
    margin: 0;
    background-color: hsl(0, 0%, 0%);
  }

  nav a:active {
    color: hsl(11, 97%, 71%);
  }

  nav li:active {
    background-color: hsl(0, 0%, 30%);
  }

  footer p {
    font-size: 13px;
  }

  .active-page {
    color: #fd876d;

    text-decoration: underline;
  }
}

/* adjusts font sizes for smaller mobile displays */
@media screen and (width < 391px) {
  h2 {
    font-size: 23px;
  }

  nav li {
    font-size: 18px;
  }

  h6 {
    font-size: 11px;
  }

  .gallery-grid {
    display: grid;
    margin-bottom: 5rem;
    padding: 1rem;
    
    align-items:center;
    gap: 3rem 1rem;
    grid-template-columns: repeat(4, 75px);
  }
}

