/* text fonts */
body {
  font-family: "Rubik", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

/* display font */
h1, h2 {
  font-family: "Michroma", Arial, Helvetica, sans-serif;
  text-align: center;
}

nav ul {
  text-align: center;
}


